<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let filme of filmes">
      <div class="card-filme">
        <mat-checkbox class="checkboxfilme" (change)="selecionarFilme($event.checked, filme)"></mat-checkbox>
        <div class="descricao-filme">
          <p class="titulo">{{ filme.titulo }}</p>
          <p class="ano">{{ filme.ano }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
