.card-filme {
  margin: 5px;
  padding: 20px 10px;
  min-height: 85px;
  display: flex;
  align-items: center;
  background-color: white;
  color: #1c1c1c;
}

.descricao-filme {
  padding-left: 10px;
  width: 100%;
}

.descricao-filme p {
  margin-bottom: 3px; 
  text-overflow: ellipsis; 
  white-space: nowrap;
  font-size: 12px;
}

.descricao-filme p.titulo {
  font-weight: bold;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #696969 !important;
}