<div class="container">
    <div class="cabecalho-campeonato">
      <div class="cabecalho-campeonato-texto">
          <p class="texto-campeonato">{{tituloCampeonato}}</p>
          <h1>{{tituloTela}}</h1>
          <hr>
          <p>{{tituloTexto}}</p>
      </div>
    </div>
  </div>
  