.container {
  padding-top: 50px;
}

.cabecalho-campeonato {
  text-align: center;
  background: #6d6d6d;
  padding: 30px;
  min-height: 260px;
}

.cabecalho-campeonato-texto {
  margin: auto;
  max-width: 50%;
  color: white;
}

.cabecalho-campeonato-texto > .texto-campeonato {
  color: #a8a8a8;
}

hr {
  width: 10%;
  background-color: #a8a8a8;
}
