<app-cabecalho [tituloTela]="tituloTela" [tituloTexto]="tituloTexto"></app-cabecalho>

<app-posicao-campeonato  *ngFor="let resultado of resultadoPosicao"
  [posicao]="resultado.posicao" [descricao]="resultado.filme.titulo"></app-posicao-campeonato>

<app-partida [partidas]="partidas"></app-partida>