<div class="container">
    <button mat-button class="block-button" (click)="mostrarPartidas()">Mostrar partidas Copa de Filmes</button>
    <div *ngIf="exibir">
      <div class="row">
        <div class="col-md-3" *ngFor="let partida of partidas">
          <div class="card-partida">
            <div class="visualizacao-partida">
                <p class="rodada">Rodada {{ partida.rodada }}</p>
                <p class="ganhador">{{ partida.vencedor.titulo }} - {{ partida.vencedor.nota }}</p>
                <p class="perdedor">{{ partida.perdedor.titulo }} - {{ partida.perdedor.nota }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>