.card-partida {
  margin: 5px;
  padding: 20px 10px;
  min-height: 85px;
  background-color: white;
}

.visualizacao-partida {
  padding-left: 10px;
  width: 100%;
}

.visualizacao-partida p {
  margin-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.visualizacao-partida p.rodada {
  font-weight: bold;
  color: black;
  font-size: 12px;
}

.visualizacao-partida p.ganhador {
  font-weight: bold;
  color: #006400;
}

.visualizacao-partida p.perdedor {
  color: #cd0000;
}

.block-button {
  display: block;
  width: 100%;
  border: none;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}

.mat-button {
  border-color: #c6c6c6;
}
