.container {
  display: flex;
  margin-top: 20px;
  min-height: 85px;
}

.container p {
  margin: 0;
}

.numeracao-posicao {
  order: 1;
  padding: 20px;
  background: #6d6d6d;
  font-size: 45px;
  color: white;
  min-width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numeracao-posicao {
  font-size: 25px;
}

.descricao-posicao {
  order: 2;
  padding: 20px;
  background: white;
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
