<app-cabecalho></app-cabecalho>

<div class="container">
  <p>Selecionados {{ filmesSelecionados?.length || "0" }} de 8 filmes</p>

  <button mat-button (click)="gerarCampeonato()">GERAR MEU CAMPEONATO</button>
</div>

<app-filmes-copa [filmes]="filmes" (filmeSelecionado)="filmeSelecionadoRetorno($event)"></app-filmes-copa>
