.container {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin: 0;
}

.mat-button {
  background-color: #343434;
  border-radius: 0;
  font-size: 11px !important;
  color: white;
}
